In [1]:
import pandas as pd
import numpy as np
import dtale

In [2]:
location = "C:\\Users\\User\\Pictures\\work\\file\\Contoso.xlsx"

# Importing excel workbook

In [3]:
#CustData = pd.read_excel(open(location, 'rb'),sheet_name='Sheet2')
#datetable = pd.read_excel(open(location, 'rb'),sheet_name='Sheet3')
ProdDetails = pd.read_excel(open(location, 'rb'),sheet_name='Sheet4')
subcategory = pd.read_excel(open(location, 'rb'),sheet_name='Sheet5')
category = pd.read_excel(open(location, 'rb'),sheet_name='Sheet6')
salestable = pd.read_excel(open(location, 'rb'),sheet_name='Sheet7')

# Changing Column names

In [4]:
categoryupdate = category.rename(columns={"ProductCategoryKey" : "ProductCategoryKey1"})
categoryupdate

   ProductCategoryKey1  Category Code                       Category
0                    1              1                          Audio
1                    2              2                   TV and Video
2                    3              3                      Computers
3                    4              4        Cameras and camcorders
4                    5              5                    Cell phones
5                    6              6  Music, Movies and Audio Books
6                    7              7                 Games and Toys
7                    8              8                Home Appliances

In [5]:
subcategory.head()

   ProductSubcategoryKey  Subcategory Code    Subcategory  ProductCategoryKey
0                      1               101        MP4&MP3                   1
1                      2               102       Recorder                   1
2                      3               103          Radio                   1
3                      4               104  Recording Pen                   1
4                      5               105     Headphones                   1

# Vlookup using merge

In [6]:
tablejoin = category.merge(subcategory[["ProductCategoryKey" ,"Subcategory"]] 
                           , left_on= "ProductCategoryKey" , right_on="ProductCategoryKey" , how = "left")

In [7]:
tablejoin.head()

   ProductCategoryKey  Category Code Category    Subcategory
0                   1              1    Audio        MP4&MP3
1                   1              1    Audio       Recorder
2                   1              1    Audio          Radio
3                   1              1    Audio  Recording Pen
4                   1              1    Audio     Headphones

In [8]:
subcategory.shape

(44, 4)

# Left join between 2 Dataframes

In [9]:
df = pd.merge(categoryupdate , subcategory , left_on= "ProductCategoryKey1" , right_on= "ProductCategoryKey" , how = "left")

In [10]:
df.head()

,ProductCategoryKey1,Category Code,Category,ProductSubcategoryKey,Subcategory Code,Subcategory,ProductCategoryKey
0,1,1,Audio,1,101,MP4&MP3,1
1,1,1,Audio,2,102,Recorder,1
2,1,1,Audio,3,103,Radio,1
3,1,1,Audio,4,104,Recording Pen,1
4,1,1,Audio,5,105,Headphones,1

In [11]:
df.shape

(44, 7)

In [12]:
ProdDetails.head(2)

,ProductKey,Product Code,Product Name,Product Description,ProductSubcategoryKey,Manufacturer,Brand,Class,Style,Color,Size,Weight,Weight Unit Measure,Stock Type Code,Stock Type,Unit Cost,Unit Price,Available Date,Status
0,1,101001,Contoso 512MB MP3 Player E51 Silver,512MB USB driver plays MP3 and WMA,1,"Contoso, Ltd",Contoso,Economy,Product0101001,Silver,2.2 x 1.8 x 4,4.8,ounces,1,High,6.62,12.99,2005-05-03,On
1,2,101002,Contoso 512MB MP3 Player E51 Blue,512MB USB driver plays MP3 and WMA,1,"Contoso, Ltd",Contoso,Economy,Product0101002,Blue,2.2 x 1.8 x 4,4.1,ounces,1,High,6.62,12.99,2005-05-03,On

In [13]:
ProdDetails.shape

(2517, 19)

In [14]:
df1 = pd.merge(ProdDetails , df , left_on= "ProductSubcategoryKey" , right_on= "ProductSubcategoryKey" , how = "left")

In [15]:
df1.shape

(2517, 25)

In [16]:
dftest = pd.merge(df , ProdDetails , left_on= "ProductSubcategoryKey" , right_on= "ProductSubcategoryKey" , how = "left")

In [17]:
dftest.shape

(2529, 25)

# To check Null Values

In [18]:
dftest.isna().sum()

ProductCategoryKey1        0
Category Code              0
Category                   0
ProductSubcategoryKey      0
Subcategory Code           0
Subcategory                0
ProductCategoryKey         0
ProductKey                12
Product Code              12
Product Name              12
Product Description       13
Manufacturer              12
Brand                     12
Class                     12
Style                     12
Color                     12
Size                     582
Weight                   296
Weight Unit Measure      234
Stock Type Code           12
Stock Type                12
Unit Cost                 12
Unit Price                12
Available Date            13
Status                   307
dtype: int64

# Getting list of all Null Values

In [19]:
dftest[dftest["ProductKey"].isnull()].head(3)

,ProductCategoryKey1,Category Code,Category,ProductSubcategoryKey,Subcategory Code,Subcategory,ProductCategoryKey,ProductKey,Product Code,Product Name,...,Color,Size,Weight,Weight Unit Measure,Stock Type Code,Stock Type,Unit Cost,Unit Price,Available Date,Status
45,1,1,Audio,2,102,Recorder,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
46,1,1,Audio,3,103,Radio,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
67,1,1,Audio,5,105,Headphones,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [20]:
salestable.shape

(100231, 19)

In [21]:
salestable.head(3)

,OnlineSalesKey,StoreKey,ProductKey,PromotionKey,CurrencyKey,CustomerKey,OrderDateKey,DueDateKey,DeliveryDateKey,Order Date,Due Date,Delivery Date,Order Number,Order Line Number,Quantity,Unit Price,Unit Discount,Unit Cost,Net Price
0,19570000,307,1857,5,1,995,20070102,20070112,20070112,2007-01-02,2007-01-12,2007-01-12,20070102811994,1,1,2652.9,397.935,878.96,2254.965
1,19570001,307,1857,5,1,1354,20070102,20070112,20070108,2007-01-02,2007-01-12,2007-01-08,20070102812353,1,1,2652.9,397.935,878.96,2254.965
2,19570002,307,1857,5,1,1355,20070102,20070114,20070110,2007-01-02,2007-01-14,2007-01-10,20070102812354,1,1,2652.9,397.935,878.96,2254.965

# Left Join between Sales table and Product Category

In [22]:
finaldata = pd.merge(salestable , df1 , left_on= "ProductKey" , right_on= "ProductKey" , how = "left")

In [23]:
finaldata.shape

(100231, 43)

# Using dtale package to view pandas Dataframe

In [24]:
dtale.show(finaldata.head())

2021-06-10 14:42:02,737 - INFO     - Note: NumExpr detected 12 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
2021-06-10 14:42:02,738 - INFO     - NumExpr defaulting to 8 threads.

# Getting List of all Columns name

In [26]:
finaldata.columns

Index(['OnlineSalesKey', 'StoreKey', 'ProductKey', 'PromotionKey',
       'CurrencyKey', 'CustomerKey', 'OrderDateKey', 'DueDateKey',
       'DeliveryDateKey', 'Order Date', 'Due Date', 'Delivery Date',
       'Order Number', 'Order Line Number', 'Quantity', 'Unit Price_x',
       'Unit Discount', 'Unit Cost_x', 'Net Price', 'Product Code',
       'Product Name', 'Product Description', 'ProductSubcategoryKey',
       'Manufacturer', 'Brand', 'Class', 'Style', 'Color', 'Size', 'Weight',
       'Weight Unit Measure', 'Stock Type Code', 'Stock Type', 'Unit Cost_y',
       'Unit Price_y', 'Available Date', 'Status', 'ProductCategoryKey1',
       'Category Code', 'Category', 'Subcategory Code', 'Subcategory',
       'ProductCategoryKey'],
      dtype='object')

# Creating Pivot Table for category and subcategory

In [27]:
salesbycategory = pd.pivot_table(finaldata , columns= "Category" , index=["Subcategory"] 
                                 , values = 'Net Price' ,fill_value= "", aggfunc=np.sum , margins=True)

In [28]:
salesbycategory

Category,Audio,Cameras and camcorders,Cell phones,Computers,Games and Toys,Home Appliances,"Music, Movies and Audio Books",TV and Video,All
Subcategory,,,,,,,,,
Air Conditioners,,,,,,510661.9291,,,510661.9291
Bluetooth Headphones,87548.8094,,,,,,,,87548.8094
Boxed Games,,,,,45698.7421,,,,45698.7421
Camcorders,,2265408.43,,,,,,,2265408.43
Cameras & Camcorders Accessories,,572016.9015,,,,,,,572016.9015
Car Video,,,,,,,,431782.77,431782.77
Cell phones Accessories,,,195849.4322,,,,,,195849.4322
Coffee Machines,,,,,,695241.249,,,695241.249
Computers Accessories,,,,245031.5724,,,,,245031.5724
Desktops,,,,726350.391,,,,,726350.391
Digital Cameras,,563010.643,,,,,,,563010.643
Digital SLR Cameras,,1734070.69,,,,,,,1734070.69
Download Games,,,,,213008.8326,,,,213008.8326
Fans,,,,,,92747.3446,,,92747.3446
Home & Office Phones,,,65988.4344,,,,,,65988.4344
Home Theater System,,,,,,,,1091875.295,1091875.295
Lamps,,,,,,799004.2559,,,799004.2559
Laptops,,,,1378128.279,,,,,1378128.279
MP4&MP3,121870.4054,,,,,,,,121870.4054
Microwaves,,,,,,551692.3217,,,551692.3217
Monitors,,,,429727.29,,,,,429727.29
Movie DVD,,,,,,,223781.9982,,223781.9982
"Printers, Scanners & Fax",,,,363023.85,,,,,363023.85
Projectors & Screens,,,,1684192.23,,,,,1684192.23
Recording Pen,66141.932,,,,,,,,66141.932
Refrigerators,,,,,,1347515.1567,,,1347515.1567
Smart phones & PDAs,,,507157.54,,,,,,507157.54
Televisions,,,,,,,,1325476.8007,1325476.8007
Touch Screen Phones,,,378624.95,,,,,,378624.95
VCD & DVD,,,,,,,,301408.289,301408.289
Washers & Dryers,,,,,,2196637.719,,,2196637.719
Water Heaters,,,,,,713718.28,,,713718.28
All,275561.1468,5134506.6645,1147620.3566,4826453.6124,258707.5747,6907218.256001,223781.9982,3150543.1547,21924392.7639

# Pivot table for sales by category by year

In [29]:
salesbyyear = pd.pivot_table(finaldata , columns= pd.DatetimeIndex(salestable['Order Date']).year , index=["Category"] , values = 'Net Price' ,fill_value= "", aggfunc=np.sum )

In [30]:
salesbyyear

Order Date                             2007          2008          2009
Category
Audio                          7.176167e+04  7.726131e+04  1.265382e+05
Cameras and camcorders         2.330640e+06  1.560692e+06  1.243175e+06
Cell phones                    3.460199e+05  3.299709e+05  4.716296e+05
Computers                      1.918387e+06  1.473197e+06  1.434870e+06
Games and Toys                 6.403916e+04  7.645235e+04  1.182161e+05
Home Appliances                1.688502e+06  2.842665e+06  2.376051e+06
Music, Movies and Audio Books  6.235269e+04  8.570488e+04  7.572443e+04
TV and Video                   1.623930e+06  6.664464e+05  8.601670e+05

# Using iloc to slice data for 2017 from pivot table

In [31]:
data2017 = pd.DataFrame(salesbyyear.iloc[:,0])
data2017

                                       2007
Category
Audio                          7.176167e+04
Cameras and camcorders         2.330640e+06
Cell phones                    3.460199e+05
Computers                      1.918387e+06
Games and Toys                 6.403916e+04
Home Appliances                1.688502e+06
Music, Movies and Audio Books  6.235269e+04
TV and Video                   1.623930e+06

# Concatenate 2 Data Frames

In [32]:
Concate = pd.concat([category , categoryupdate])

In [33]:
Concate

,ProductCategoryKey,Category Code,Category,ProductCategoryKey1
0,1.0,1,Audio,NaN
1,2.0,2,TV and Video,NaN
2,3.0,3,Computers,NaN
3,4.0,4,Cameras and camcorders,NaN
4,5.0,5,Cell phones,NaN
5,6.0,6,"Music, Movies and Audio Books",NaN
6,7.0,7,Games and Toys,NaN
7,8.0,8,Home Appliances,NaN
0,NaN,1,Audio,1.0
1,NaN,2,TV and Video,2.0
2,NaN,3,Computers,3.0
3,NaN,4,Cameras and camcorders,4.0
4,NaN,5,Cell phones,5.0
5,NaN,6,"Music, Movies and Audio Books",6.0
6,NaN,7,Games and Toys,7.0
7,NaN,8,Home Appliances,8.0

In [34]:
concattable = Concate.reset_index()
concattable

,index,ProductCategoryKey,Category Code,Category,ProductCategoryKey1
0,0,1.0,1,Audio,NaN
1,1,2.0,2,TV and Video,NaN
2,2,3.0,3,Computers,NaN
3,3,4.0,4,Cameras and camcorders,NaN
4,4,5.0,5,Cell phones,NaN
5,5,6.0,6,"Music, Movies and Audio Books",NaN
6,6,7.0,7,Games and Toys,NaN
7,7,8.0,8,Home Appliances,NaN
8,0,NaN,1,Audio,1.0
9,1,NaN,2,TV and Video,2.0
10,2,NaN,3,Computers,3.0
11,3,NaN,4,Cameras and camcorders,4.0
12,4,NaN,5,Cell phones,5.0
13,5,NaN,6,"Music, Movies and Audio Books",6.0
14,6,NaN,7,Games and Toys,7.0
15,7,NaN,8,Home Appliances,8.0

# Comparing results

In [35]:
results = pd.pivot_table(concattable , index="Category" , values = ["ProductCategoryKey" , "ProductCategoryKey1" ] , aggfunc=np.sum , margins=True)
results

                               ProductCategoryKey  ProductCategoryKey1
Category
Audio                                         1.0                  1.0
Cameras and camcorders                        4.0                  4.0
Cell phones                                   5.0                  5.0
Computers                                     3.0                  3.0
Games and Toys                                7.0                  7.0
Home Appliances                               8.0                  8.0
Music, Movies and Audio Books                 6.0                  6.0
TV and Video                                  2.0                  2.0
All                                           0.0                  0.0

Executing shutdown due to inactivity...

2021-06-10 15:42:28,649 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2021-06-10 15:42:49,167 - INFO     - Executing shutdown...